.container-card {
  margin: 10px 30px;
  background-color: white;
  border-radius: 15px 15px 0px 0px;
}
.container-body {
  padding: 10px 30px;
}
.title-card {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */
  color: #2462bf;
}

.tag-card {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  color: #838080;
}

.img-responsive {
  width: 100%;
  height: 171px;
  background: rgba(3, 3, 3, 0.21);
  border-radius: 15px 15px 0px 0px;
}

p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.like-button {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  color: #185bbf;
}

.container-features {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit-feature {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  color: #185bbf;
}

.delete-feature {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  color: #bf1818;
}

button {
  border: none;
  outline: none;
  background-color: white;
}
